/*-----Banner Styles proba 2-----*/
/*---#banner {
    background-image: url(../images/gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    header {
        padding: 2rem 0;
    }
    #logo {
        color: $white;
    }
}---*/

/*-----other---------------------------*/

html {
    font-family: 'Exo 2', sans-serif; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%
    }

body {
  height: 100%;
  /*background-image: linear-gradient(185deg, #ff4081 17%, #8e3f91 88%, #303f9f);*/
  background-image: url(/images/slika.jpg);
    background-position: 50% 0px, 0px 0px;
    background-size: cover, auto;
    background-attachment: fixed, scroll;
  background-repeat: no-repeat;
  font-size: 12px;
  font-family: 'Exo 2', sans-serif;
  line-height: 30px;
  text-align: left;
}

.hero-container {
    position: static;
    /*width: 100%;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0 3px 13px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px 11%;
    -webkit-box-pack: justify;
    margin-right: -8px;
    margin-left: -13px;
}

.header {
    position: relative;
    z-index: 1;
    display: block;
    /*width: 80%;*/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block.menu {
  width: 50%;
}

.div-block-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  margin-right:55rem !important;
}

.logopad {
  height: 50px;
}

.wrapper {
  font-family: 'Exo 2', sans-serif;
  display: block;
  /*height: 100%;*/
  margin-top: 35px;
  margin-right: 10%;
  margin-left: 10%;
  padding-right: 0px;
  padding-left: 0px;
}

.heading {
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  font-size: 37px;
}
.content{
    width:100% !important;
}
.sub_title {
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 40px;
  font-family: 'Exo 2', sans-serif, bold;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}

/*presmetka----------------*/

.presmetka {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg, #fff, #fff);
    box-shadow: 5px 5px 24px -7px rgba(0, 0, 0, .81);
}

.dropdown {
    display: block;
    width: 30%;
    margin-left: 30px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.tekst-vnesi {
    text-align: left;
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
}

.w-form {
    margin: 0 0 2px;
}

.select-field {
    border-style: solid;
    border-width: 0px 0px 2px;
    border-color: #000 #000 #aaa;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.w-select {
    background-image: -webkit-linear-gradient(white 0, #f3f3f3 100%);
    background-image: linear-gradient(white 0, #f3f3f3 100%);
}

.div-block-4 {
    display: block;
    width: 30%;
    margin-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
}

.div-block-button {
    display: block;
    width: 30%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.button-2 {
    margin-top: 18px;
    margin-right: 30px;
    margin-bottom: 18px;
    padding-right: 30px;
    padding-left: 30px;
    border: 0.5px;
    border-style: solid;
    border-width: 3px 3px 3px;
    border-color: #ff699c;
    border-radius: 10px;
    background-color: transparent;
    color: #3f4856;
    border-radius: 10px;
}
.w-button {
    display: inline-block;
    padding: 9px 15px;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    
}

.text-span-2 {
    background-color: transparent;
    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
}

.select-field {
    border-style: solid;
    border-width: 0px 0px 2px;
    border-color: #000 #000 #aaa;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
}

.w-select {
    background-image: linear-gradient(white 0, #f3f3f3 100%);
}

.text-field {
    border-style: solid;
    border-width: 0px 0px 2px;
    border-color: #000 #000 #acacac;
}

.w-input, .w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.line {
    margin-top: 80px;
    border-top: 2px solid #fff;
}

.section-2 {
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 20px;
}

.div-block-7 {
    width: 70%;
    height: 40px;
    font-family: 'Exo 2', sans-serif, bold;
}

.footerbttn {
    display: block;
    margin-left: -16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border: 0px solid transparent;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.footerbttn:hover{
    text-decoration: underline;
    color: #fff;
}

.w-button-footer {
    /*display: inline-block;*/
    padding: 9px 15px;
    color: white;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.text-block-2 {
    padding-top: 11px;
    color: #fff;
    font-family: 'Exo 2', sans-serif, bold;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1px;    
}

@media(min-width: 768px) AND (max-width: 1024px){
    #btn-calculate, #btn-show{
        display:block;
        width: 100%;
        margin-bottom:20px;
    }
    #calculated{
        margin-top:120px !important;
    }
    .presmetka {
        display: block;
        margin-right: 30px;
        margin-left: 30px;

    }
}
@media (max-width: 768px) {
  .presmetka {
    display: block;
    margin-right: 0;
    margin-left: 0;
    
  }
    .wrapper{
        margin-right:0;
        margin-left:0;
    }
    .heading{
        padding-right:0;
        padding-left:0;
        font-size:26px;
    }
    .sub_title{
        padding-right: 0;
        padding-left:0;
        font-size:16px;
    }
    #btn-calculate, #btn-show{
        display:block;
        width: 100%;
        margin-bottom:20px;
    }
    #calculated{
        margin-top:120px !important;
    }
    .form-control{
        font-size:12px !important;
    }
  .div-block-4 {
    width: 100%;
    align-content: center;
    margin-left: 30px;
  }
  .button-2 {
    margin-left: 40px;
  }
  .tekst-vnesi {
    display: block;
  }
  .text-field {
    width: 170px;
    margin-right: 0px;
  }
  .select-field {
    width: 170px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
  }
  .section-2 {
    display: block;
  }
  .text-block-2 {
    position: absolute;
    display: block;
    float: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 13px;
    text-align: center;
  }
  
  .dropdown {
    display: block;
    width: 100%;
    align-content: center;
}
}

